<div class="inner-container bg-white section-gap-lg">
    <div class="container">
      <div fxLayout='row wrap' fxLayoutAlign="center center">
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="80" fxFlex.lg="70" fxFlex.xl="70">
          <div fxLayout='row wrap' fxLayoutAlign="center center">
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
              <div class="form-img register-image">
              </div>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
              <mat-card class="register-form form-margin">
                <h4>Registrar competencia</h4>
                <!-- <p>Es rápido y fácil</p> -->
                <form *ngIf="dataForm" [formGroup]="dataForm" (ngSubmit)="onSubmit()">
                  <div class="mb-4">
                    <mat-form-field class="w-100 mt-3">
                      <input matInput type="text" formControlName="nombre" placeholder="Nombre" required>
                      <mat-error *ngIf="dataForm.get('nombre').hasError('required')">El campo no puede estar vacío</mat-error> 
                    </mat-form-field>
                    
                    <mat-form-field class="w-100 mt-3">
                      <mat-select class="w-full overflow-hidden" formControlName="departamento" 
                          *ngIf="departamentoList" style="width: 100%" placeholder="Seleccione un departamento">
                        <mat-option>Seleccionar un departamento</mat-option>
                        <mat-option *ngFor="let item of departamentoList" [value]="item.name" (click)="selectDepartamento(item)">
                           {{item.name}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="dataForm.get('departamento').hasError('required')">El campo no puede estar vacío</mat-error> 
                    </mat-form-field>

                    <mat-form-field *ngIf="municipiosSw" class="w-100 mt-3">
                      <mat-select class="w-full overflow-hidden" formControlName="municipio" 
                          *ngIf="municipiosSw" style="width: 100%" placeholder="Seleccione un municipio">
                        <mat-option>Seleccionar un municipio</mat-option>
                        <mat-option *ngFor="let item of municipiosList" [value]="item.name">
                           {{item.name}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="dataForm.get('municipio').hasError('required')">El campo no puede estar vacío</mat-error> 
                    </mat-form-field>
                    
                    <mat-form-field class="w-100 mt-3">
                      <input matInput type="text" formControlName="direccion" placeholder="Dirección" required>
                      <mat-error *ngIf="dataForm.get('direccion').hasError('required')">El campo no puede estar vacío</mat-error> 
                    </mat-form-field>

                    <mat-form-field class="w-100 mt-3">
                      <input matInput type="text" disabled readonly formControlName="club" placeholder="Club">
                      <mat-error *ngIf="dataForm.get('club').hasError('required')">El campo no puede estar vacío</mat-error> 
                    </mat-form-field>

                    <mat-form-field class="w-100 mt-3">
                      <input class="w-full text-black rounded" matInput [matDatepicker]="fecha" placeholder="Seleccione la fecha de competencia"
                        [min]="minDate" formControlName="fecha">
                      <mat-datepicker-toggle matSuffix [for]="fecha"></mat-datepicker-toggle>
                      <mat-datepicker #fecha></mat-datepicker>
                      <mat-error *ngIf="dataForm.get('fecha').hasError('required')">El campo no puede estar vacío</mat-error>
                    </mat-form-field>
                  </div>
                  <button class="button-lg mb-3" style="background: #9AD135;" mat-flat-button type="submit">
                    <span *ngIf="!dataForm.disabled">
                      Registrarse
                    </span>
                    <mat-progress-spinner *ngIf="dataForm.disabled" [diameter]="24" [mode]="'indeterminate'">
                    </mat-progress-spinner>
                </button>

                </form>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  