<mat-toolbar color="primary" class="embryo-fixed-header">
  <mat-toolbar-row>
    <div class="container">
      <div fxLayoutAlign="space-between">
        <div class="logo-site">
          <img src="../../../../assets/images/logo/logo.png" style="max-height: 50px; margin-top: 0.4em; max-width: 90px;" alt="">
        </div>
        <embryo-Menu></embryo-Menu>
        <button class="responsive-toggle" mat-icon-button (click)="toggleSidebar()">
          <i class="material-icons">menu</i>
        </button>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
