<div class="inner-container bg-white section-gap-lg">
    <div class="container">
      <div fxLayout='row wrap' fxLayoutAlign="center center">
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="80" fxFlex.lg="70" fxFlex.xl="70">
          <div fxLayout='row wrap' fxLayoutAlign="center center">
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
              <div class="form-img register-image-atleta">
              </div>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
              <mat-card class="register-form form-margin">
                <h4>Registrar atleta</h4>
                <!-- <p>Es rápido y fácil</p> -->
                <form *ngIf="dataForm" [formGroup]="dataForm" (ngSubmit)="onSubmit()">
                  <div class="mb-4">
                    <mat-form-field class="w-100 mt-3">
                      <input matInput type="text" formControlName="nombre_atleta" placeholder="Nombre" required>
                      <mat-error *ngIf="dataForm.get('nombre_atleta').hasError('required')">El campo no puede estar vacío</mat-error> 
                    </mat-form-field>

                    <mat-form-field class="w-100 mt-3">
                      <input matInput type="text" formControlName="talla" placeholder="Talla" required>
                      <mat-error *ngIf="dataForm.get('talla').hasError('required')">El campo no puede estar vacío</mat-error> 
                    </mat-form-field>

                    <mat-form-field class="w-100 mt-3">
                        <mat-select class="w-full overflow-hidden" formControlName="id_competencia" 
                            *ngIf="competenciaList" style="width: 100%" placeholder="Seleccione una Competencia">
                          <mat-option>Seleccionar una Competencia</mat-option>
                          <mat-option *ngFor="let item of competenciaList" [value]="item.id" (click)="selectCompetencia(item)">
                             {{item.nombre}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="w-100 mt-3">
                        <mat-select class="w-full overflow-hidden" formControlName="id_categoria" 
                          style="width: 100%" placeholder="Seleccione una Categoría">
                          <mat-option>Seleccionar una Categoría</mat-option>
                          <mat-option *ngFor="let item of categoriaList" [value]="item.id" (click)="selectCategoria(item)">
                             {{item.nombre}}
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="dataForm.get('id_categoria').hasError('required')">El campo no puede estar vacío</mat-error> 
                    </mat-form-field>

                    <mat-form-field class="w-100 mt-3">
                        <input matInput type="text" formControlName="no_atleta" placeholder="Número de Atleta" required readonly>
                      </mat-form-field>
                  </div>
                  <button class="button-lg mb-3" color="primary" mat-flat-button type="submit">
                    <span *ngIf="!dataForm.disabled">
                      Registrarse
                    </span>
                    <mat-progress-spinner *ngIf="dataForm.disabled" [diameter]="24" [mode]="'indeterminate'">
                    </mat-progress-spinner>
                </button>

                </form>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  