
<div class="page-title-bar">
  <div class="container">
    <h1 class="mb-3"> Nosotros</h1>
    <p class="lead text-xxl"> Equipo creativo y objetivos amplios. </p>
  </div>
</div>

<div class="inner-container">
  <div class="about-page">
    <div class="about-info bg-white section-gap">
      <div class="container">
        <div fxLayout="row wrap" fxLayoutAlign="center center" class="col-gap">
          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="50" fxFlex.xl="50" class="p-5">
            <h2 class="font-bold mb-4">
              Liga OCR de Antioquia
            </h2>
            <!-- <h4 class="font-italic font-bold mb-4">sub_heading</h4> -->
            <p class="mb-4">Somos una comunidad apasionada que combina deporte, resistencia y espíritu de superación a través de carreras de obstáculos diseñadas para desafiar tus límites físicos y mentales.</p>
            <p class="mb-2">Nacimos en Medellín, Antioquia, con el objetivo de promover el OCR como un deporte integral que fomenta:</p>
            <p class="mb-1">💪 Fuerza física y mental</p>
            <p class="mb-1">🤝 Trabajo en equipo y comunidad</p>
            <p class="mb-1">🏆 Competencia sana y superación personal</p>
            <!-- <button mat-raised-button color="accent" class="button-lg">Read More</button> -->
          </div>
          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="50" fxFlex.xl="50">
            <img src="../../../assets/images/aside/aside-6.jpg" width="700" height="700" alt="About Us Image">
          </div>
        </div>
      </div>
    </div>

    <div class="about-alt-section bg-grey section-gap">
      <div class="container">
        <div fxLayout="row wrap" fxLayoutAlign="center center" class="col-gap alt-sec">
          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
            <img src="../../../assets/images/aside/aside-7.jpg" height="700" width="900" alt="About us" alt="">
          </div>
          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class="p-5">
            <h2 class="font-bold">
              ¿Qué es el OCR?
            </h2>
            <!-- <h5 class="font-italic">{{singleData?.sub_heading}}</h5> -->
            <p>El Obstacle Course Racing (OCR) es un deporte de aventura que combina:</p>
            <p class="mb-1">🏁 <b>Carrera a campo traviesa</b> (trail running)</p>
            <p class="mb-1">🚧 <b>Superación de obstáculos</b> (muros, cuerdas, lodo, agua y más)</p>
            <p class="mb-1">🧗‍♂️ <b>Desafíos de fuerza y agilidad</b></p>
            <p class="mt-4">Es una disciplina que no solo entrena el cuerpo, sino también la mente y el carácter.</p>

          </div>
        </div>
      </div>
    </div>

    <div class="about-info bg-white section-gap">
      <div class="container">
        <div fxLayout="row wrap" fxLayoutAlign="center center" class="col-gap alt-sec">
          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="50" fxFlex.xl="50" class="p-5">
            <h2 class="font-bold mb-4">
              Misión
            </h2>
            <p>Promover y desarrollar el Obstacle Course Racing (OCR) en Antioquia como un deporte integral que fomente la superación personal, el trabajo en equipo y la vida saludable. Nos comprometemos a:</p>
            <p class="mb-1">✅ Organizar competencias inclusivas para todos los niveles (desde principiantes hasta élite).</p>
            <p class="mb-1">✅ Crear una comunidad unida alrededor del deporte de obstáculos.</p>
            <p class="mb-1">✅ Impulsar el desarrollo atlético con entrenamientos especializados y eventos de alto nivel.</p>
            <p class="mb-1">✅ Promover valores como disciplina, resiliencia y respeto a través del deporte.</p>
          </div>
          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="50" fxFlex.xl="50">
            <img src="../../../assets/images/aside/aside-3.jpg" height="700" width="900" alt="About us" alt="">
          </div>
        </div>
      </div>
    </div>

    <div class="about-alt-section bg-grey section-gap">
      <div class="container">
        <div fxLayout="row wrap" fxLayoutAlign="center center" class="col-gap alt-sec">
          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
            <img src="../../../assets/images/aside/aside-3.jpg" height="700" width="900" alt="About us" alt="">
          </div>
          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class="p-5">
            <h2 class="font-bold">
              Visión
            </h2>
            <p>Ser el referente nacional del OCR para 2028, consolidando a Antioquia como la región líder en:</p>
            <p class="mb-1">🚀 <b>Formación de atletas</b> competitivos a nivel nacional e internacional.</p>
            <p class="mb-1">🌱 <b>Masificación del deporte</b>, llegando a más ciudades y municipios del departamento..</p>
            <p class="mb-1">🏆 <b>Organización de eventos de clase mundial</b>, atrayendo competidores internacionales.</p>
            <p class="mb-1">💡 <b>Innovación en obstáculos y formatos de carrera</b>, manteniéndonos a la vanguardia del OCR.</p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="team-section text-center section-gap bg-white">
      <div class="container">
        <div class="block-title text-center">
          <h2>Nuestro equipo</h2>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="center center" class="col-gap">
          <ng-container>
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33">
                <div class="team-card mb-4">
                  <img class="round-corner" src="../../../assets/images/aside/aside-1-1.jpg" width="200" height="200" alt="team-image">
                </div>
                <h4 class="mb-0">
                  Alejandro Corrales
                </h4>
                <p class="mb-4">Presidente de la Liga</p>
            </div>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="about-contact-form bg-grey">
      <div fxLayout="row wrap" fxLayoutAlign="center center" class="col-stretch">
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class=" about-contact-bg">
        </div>
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class="p-5">
          <div class="about-cobtact-form-inner">
            <div class="block-title ">
              <h2>Escribenos</h2>
            </div>
            <form [formGroup] = "contactForm" (ngSubmit) = "submitForm()">
              <mat-form-field class="w-100">
                  <input matInput placeholder="Primer nombre" formControlName="first_name">
              </mat-form-field>
              <mat-error *ngIf="contactForm.controls['first_name'].hasError('required') && contactForm.controls['first_name'].touched">El campo no puede estar vacío.</mat-error>
              <mat-error *ngIf="contactForm.controls['last_name'].hasError('required') && contactForm.controls['last_name'].touched">El campo no puede estar vacío.</mat-error>

              <mat-form-field class="w-100">
                  <input matInput placeholder="Email" formControlName="email">
              </mat-form-field>
              <mat-error *ngIf="contactForm.controls['email'].hasError('required') && contactForm.controls['email'].touched">El campo no puede estar vacío.</mat-error>
              <mat-error *ngIf="contactForm.controls['email'].hasError('pattern') && contactForm.controls['email'].touched && !contactForm.controls['email'].hasError('required')">Correo inválido.</mat-error>

              <mat-form-field class="w-100">
                  <input matInput placeholder="Asunto" formControlName="subject">
              </mat-form-field>
              <mat-error *ngIf="contactForm.controls['subject'].hasError('required') && contactForm.controls['subject'].touched"> El campo no puede estar vacío.</mat-error>

              <mat-form-field class="w-100">
                  <textarea matInput placeholder="Mensaje" formControlName="message"></textarea>
              </mat-form-field>
              <mat-error *ngIf="contactForm.controls['message'].hasError('required') && contactForm.controls['message'].touched"> El campo no puede estar vacío.</mat-error>

              <button mat-raised-button color="primary" class="button-lg mt-4" type="submit">Enviar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
